*{
  box-sizing:border-box;
}
header{
    position:fixed;
    height:6em;
    z-index:10;
    top:0;
    width:100%;
    flex:100%;
    overflow:hidden;
    left:0;
    border-bottom:groove 1px orange;
    display:flex;
     background-color:white;
/*   background:inherit; */
}
 header img{
    margin-left:4em;
    width:12em;
    margin-top:1.4em;

}

ul li, button{
  display:inline-flex;
}
.nav-link{
  text-decoration:none;
  color:blue;
  margin-top:0.8em;
  padding:1.3em;
  text-transform:uppercase;
  margin-right:1.5em;
}
a:hover{
  color:orange;  
}
button{
  background-color:cornsilk;
  color:black;
  font-weight:bolder;
  padding:0.8em;
  border-radius:5px;
  border:outset 1.5px orange;
}
button:hover{
  color:orange;
  background-color:white;
  border:outset 1px orange;
}
  /*END OF NAVBAR */



#background{
  margin:0;
  z-index:5;
  overflow:auto;
  background:linear-gradient(180deg, 0%, orange 100%);
  margin-top:6em;
  text-align:center;
	padding: 2em;
	border:groove 1px cornsilk;
}
h1{
  color:orange;
}
input{
  border:outset 2px orange;
  color:black;
  padding:0.8em;
  margin:1.5em;
}
input[type="submit"]{
  background-color:orange;
  color:white;
  font-weight:bolder;
  border-radius:5px;
  border:outset 1.5px orange;
}
input:hover{
  background-color:silver;
}
input[type="submit"]:hover{
  background-color:white;
  color:orange;
  border:groove 0.5px black;
}
#main{
  margin-top:4em;
}
#main p{
  font-size:1.2rem;
}
#editor,#auto{
  display:flex;
}
#auto{
  margin-top:7em;
}
h3{
  font-size:2em;
  margin-top:2em;
}
.last{
  background-color:silver;
  margin;0;
  text-align:center;
  padding-top:5em;
  width:100%;
  height:30em;
}
.last button{
  background-color:gray;
  color:white;
  border:groove 2px white;
}
.last button:hover{
  color:blue;
  background-color:white;
  border:1px;
}
footer{
	background-color: grey;
	color:white;
	width:100%;
	height:2em;
	text-align: center;
	color:aliceblue;
	font-style:italic;
	padding-top:0.8em;
  margin:0;
}

@media(max-width:768px){
  header{
    height:20em;
    position:relative;
    text-align:center;
  }
  iframe{
    width:300px;
  }
  ul{
    text-align:center;
  }
  ul li{
    display:block;
    padding-bottom:4em;
    padding-left:4em;
  }
 
header img{
/*    max-height:4em;
    margin-left:2em; */
  display:none;
  }
  #background{
    margin-top:0;
  }
  #main img{
    max-height:7em;
  }
	footer{
		height: 4em;
	}
}